<div class='d-flex justify-content-end my-2'>
    <a class='btn btn-primary' href='/moodle/mod/icontact/edit.php?icontact={{icontactid}}&cmid={{cmid}}'>
        Create new contact
    </a>
</div>
<table  class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>address</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        {{#contacts}}
        <tr>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{phone}}</td>
            <td>{{address}}</td>
            <td>
                <a class='btn btn-success' href='/moodle/mod/icontact/edit.php?id={{id}}&cmid={{cmid}}'>Edit</a>
                <a class='btn btn-danger' href='/moodle/mod/icontact/delete.php?id={{id}}&cmid={{cmid}}'>delete</a>
            </td>


        </tr>
        {{/contacts}}
    </tbody>
</table>